body,
html,
#root {
  font-size: 17px;
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
